<div class="container" id="shed" >
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header">Storage Shed</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<%= image_tag("shed/shed_full.jpg", size: "500x343", alt: "Shelf Drawing")%>
		</div>

		<div class="col-md-6">
			<h2>Project Description</h2>
				<p>I designed this shed in Google SketchUp before cutting the first piece of wood. I referenced several plans that I found on the internet and magazines but ultimately needed a customized design because of the space constraints of my yard and the items being stored inside of it. </p>

			<h2>Tools Used</h2>
			<ul>
				<li>Google SketchUp</li>
				<li>Hammer, tablesaw, hands</li>
			</ul>

		</div>
	</div>

	<!-- Related Projects Row -->
	<div class="row">
		<div class="col-md-12">
			<h4 class="page-header">Project Video and Photos</h4>
		</div>
	</div><!-- /.row -->

	<div class="row">

		<div class="col-md-3 col-xs-3">
			<figure>
				<%= image_tag("shed/shed_before.jpeg", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>The before shot.</figcaption>
			</figure>
		</div>

		<div class="col-md-3 col-xs-3">
			<figure>
				<%= image_tag("shed/shed_mid_1.jpeg", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>The subfloor.</figcaption>
			</figure>
		</div>

		<div class="col-md-3 col-xs-3">
			<figure>
				<%= image_tag("shed/shed_mid_2.jpeg", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>The framing is up.</figcaption>
			</figure>
		</div>

		<div class="col-md-3 col-xs-3">
			<figure>
				<%= image_tag("shed/shed_after.jpg", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>The completed shed.</figcaption>
			</figure>
		</div>

	</div><!-- /.row -->

	<hr>

		<div class="row">
			<div class="col-md-6 col-xs-6">
				<iframe width="750" height="422"
					src="https://www.youtube.com/embed/rtzpFDcV9GU">
				</iframe>
			</div>
		</div>

			<p>Time lapse video of the entire process. The CAD drawing is what you see in the bottom right corner of the video.</p>

</div>
