<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<nav class="main-nav" id="logo">
				<div class="col-md-4" id="logo-pic">
				<%= image_tag("profile_pic.jpg", alt: "Profile_pic", class: "img-circle profile-pic-lrg") %>
				</div>

				<div class="col-md-8" >
					<h3 class="text-thin">Eric Booker</h3>
					<p>Maker/Web Developer<br>ericbooker12@gmail.com</p>
				</div>
		</nav>
		<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About Me", about_path %></li>
					<li><%= link_to "Contact Info", contact_path %></li>
					<li><%= link_to "Resume", "https://resume.creddle.io/resume/afhcwolwgbi" %></li>
					<!-- <li><%= link_to "Log in", '#' %></li> -->
				</ul>

		</nav>
	</div>

</header>